In [3]:
import numpy as np
import pandas as pd

In [4]:
student_details={}
for i in range(5):
    sname=input("\nEnter Student name:")
    
    marks={}
    for subject in ["Math", "physics", "chemistry"]:
        marks[subject]=int(input(f"Enter {subject} marks: "))
    student_details[sname]=marks 
# print(student_details)
df=pd.DataFrame(student_details)
df=df.T
df

Enter Student name:ajay
Enter Math marks: 98
Enter physics marks: 97
Enter chemistry marks: 96

Enter Student name:bimal
Enter Math marks: 89
Enter physics marks: 88
Enter chemistry marks: 87

Enter Student name:chitra
Enter Math marks: 79
Enter physics marks: 78
Enter chemistry marks: 77

Enter Student name:dhruv
Enter Math marks: 69
Enter physics marks: 68
Enter chemistry marks: 67

Enter Student name:farhan
Enter Math marks: 59
Enter physics marks: 58
Enter chemistry marks: 57

        Math  physics  chemistry
ajay      98       97         96
bimal     89       88         87
chitra    79       78         77
dhruv     69       68         67
farhan    59       58         57